<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>Test Attempt</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content">
    <div th:replace="fragments/testAttempt"></div>

    <form th:action="@{/testAttempt/update}" method="post" th:object="${testAttempt}">

        <input type="hidden" th:field="*{testAttemptId}">
        <input type="hidden" th:field="*{test}">
        <input type="hidden" th:field="*{student}">
        <input type="hidden" th:field="*{superTestAttempt}">
        <input type="hidden" th:field="*{subTestAttempts}">
        <input type="hidden" th:field="*{answer}">
        <div th:if="${testAttempt.hasSubTestAttempts()}">
            <input type="hidden" th:field="*{score}">
        </div>

        <div class="mb-3" th:unless="${testAttempt.hasSubTestAttempts()}">
            <label for="score">Score:</label>
            <input th:field="*{score}" type="number" class="form-control" id="score"
                   aria-describedby="score" placeholder="Score" min="0" oninput="validity.valid||(value='');">
        </div>

        <div class="mb-3">
            <label for="feedback">Feedback:</label>
            <textarea id="feedback" class="richTextContent" type="text" th:field="*{feedback}"></textarea>
        </div>

        <div class="d-flex justify-content-end">
            <div th:replace="fragments/buttons :: cancel"></div>
            <div th:replace="fragments/buttons :: save"></div>
        </div>

    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<th:block th:replace="fragments/general :: richText"></th:block>
</body>
</html>