<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>Test Attempt Details</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content">
    <h1 class="text-center">
        Details of
        <span th:text="${testAttempt.student.fullName}"></span>'s
        Attempt of
        <span th:text="${testAttempt.test.testName}"></span>
    </h1>
    <p class="text-center" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
        <a th:href="@{/test/{testId}/attempt/all(testId=${testAttempt.test.assignmentId})}">Back to Attempt Overview</a>
    </p>
    <p class="text-center" sec:authorize="hasAnyAuthority('STUDENT')">
        <a th:href="@{/testAttempt/all}">Back to Attempt Overview</a>
    </p>

<!--    Main Test Table for admins and Teachers-->
    <table sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Test name</th>
            <th>Subject</th>
            <th>Test date</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row-with-link"
            th:attr="data-link=@{/testAttempt/edit/{testAttemptId}(testAttemptId=${testAttempt.testAttemptId})}">
            <td>
                <a sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')"
                   th:href="@{/testAttempt/edit/{testAttemptId}(testAttemptId=${testAttempt.testAttemptId})}"
                   th:text="${testAttempt.test.testName}"></a>
            </td>
            <td th:text="${testAttempt.test.subject.subjectName}"></td>
            <td th:text="${testAttempt.test.testDate}"></td>
            <td th:text="${testAttempt.displayScore()}"></td>
        </tr>
        </tbody>
    </table>

<!--    Main Test Table for Students-->
    <table sec:authorize="hasAnyAuthority('STUDENT')" class="table">
        <thead>
        <tr>
            <th scope="col">Test name</th>
            <th>Subject</th>
            <th>Test date</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${testAttempt.test.testName}"></td>
            <td th:text="${testAttempt.test.subject.subjectName}"></td>
            <td th:text="${testAttempt.test.testDate}"></td>
            <td th:text="${testAttempt.displayScore()}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table" th:if="${testAttempt.feedback}">
        <thead>
            <tr><th scope="col">Feedback</th></tr>
        </thead>
        <tbody>
            <tr><td th:utext="${testAttempt.feedback}"></td></tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th>Question</th>
                <th class="text-center">Score</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody th:fragment="showQuestion">
            <tr th:class="${subTestAttempt.hasSubTestAttempts() ? '' : 'row-with-link'}"
                th:attr="data-link=@{/testAttempt/edit/{testAttemptId}(testAttemptId=${subTestAttempt.testAttemptId})}"
                th:each="subTestAttempt : ${subTestAttempts}">
                <td th:unless="${subTestAttempt.hasSubTestAttempts()}">
                    <a th:text="${subTestAttempt.test.displayQuestionNumber()}"
                       th:href="@{/testAttempt/edit/{testAttemptId}(testAttemptId=${subTestAttempt.testAttemptId})}">
                    </a>
                </td>
                <td th:if="${subTestAttempt.hasSubTestAttempts()}"
                    th:text="${subTestAttempt.test.displayQuestionNumber()}"
                    th:class="'no-hover'" th:style="'font-weight: bold;'">
                </td>
                <td th:class="${subTestAttempt.hasSubTestAttempts() ? 'no-hover' : ''}"
                    th:text="${subTestAttempt.test.testName}"></td>
                <td th:class="${subTestAttempt.hasSubTestAttempts() ? 'text-center no-hover' : 'text-center'}"
                    th:style="${subTestAttempt.score == -1 ? 'font-weight: bold; color: red;' : ''}"
                    th:text="${subTestAttempt.displayScore()}"></td>
                <td th:unless="${subTestAttempt.hasSubTestAttempts()}"
                    th:class="${subTestAttempt.hasSubTestAttempts() ? 'text-end no-hover' : 'text-end'}">
                    <div sec:authorize="hasAnyAuthority('ADMIN', 'STUDENT')"
                         th:class="${subTestAttempt.hasSubTestAttempts() ? 'no-hover' : ''}"
                         th:replace="fragments/buttons :: editStudent(@{/testAttempt/edit/student/{testAttemptId}
                        (testAttemptId=${subTestAttempt.testAttemptId})})">
                    </div>
                    <div sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')"
                         th:class="${subTestAttempt.hasSubTestAttempts() ? 'no-hover' : ''}"
                         th:replace="fragments/buttons :: editTeacher(@{/testAttempt/edit/teacher/{testAttemptId}
                        (testAttemptId=${subTestAttempt.testAttemptId})})">
                    </div>
                </td>
                <td th:class="${subTestAttempt.hasSubTestAttempts() ? 'no-hover' : ''}"
                    th:include=":: showQuestion"
                    th:with="subTestAttempts = ${subTestAttempt.getSubTestAttempts()}"></td>
            </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>