<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
  <title>Student overview</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content">
  <h1 class="text-center">All students</h1>

  <div th:replace="fragments/buttons :: new(@{new})"></div>
  <table class="table table-hover">
    <tr>
      <th scope="col">Student id</th>
      <th scope="col">Name</th>
      <th scope="col">Cohort</th>
      <th></th>
    </tr>
    <tr th:each="student : ${allStudents}">
      <th scope="col" th:text="${student.studentId}"></th>
      <td th:text="${student.studentName}"></td>
      <td th:text="${student.cohort} ? ${student.cohort.cohortName} : 'unknown' "></td>
      <td class="text-end">
        <div th:replace="fragments/buttons :: edit(@{edit/{studentId}(studentId=${student.studentId})})"></div>
        <div th:replace="fragments/buttons :: delete(@{delete/{studentId}(studentId=${student.studentId})})"></div>
      </td>
    </tr>
  </table>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>