<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>Cohort Overview</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content">
    <h1 class="text-center">Cohort Overview</h1>
    <div th:replace="fragments/buttons :: new(@{/cohort/new})"></div>
        <table class="table table-hover">
            <tr>
                <th scope="col">Cohort name</th>
                <th scope="col">Programme</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
            <tr th:each="cohort : ${allCohorts}">
                <td><a th:href="@{/cohort/{cohortId}(cohortId=${cohort.cohortId})}"
                       th:text="${cohort.cohortName}"></a></td>
                <td>Programme: &nbsp&nbsp&nbsp&nbsp
                    <span
                        th:text="${cohort.programme} ?
                        ${cohort.programme.programmeName} : 'None'">
                    </span>
                </td>
                <td th:text="${cohort.displayStartDate()}"></td>
                <td th:text="${cohort.displayEndDate()}"></td>
                <td class="text-end">
                    <div th:replace="fragments/buttons
                    :: edit(@{/cohort/edit/{cohortId}(cohortId=${cohort.cohortId})})"></div>
                    <div th:replace="fragments/buttons
                    :: delete(@{/cohort/delete/{cohortId}(cohortId=${cohort.cohortId})})"></div>
                </td>
        </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<div th:replace="fragments/general :: activeLink('#cohorts')"></div>
</body>
</html>