<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>Cohort Overview</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1 class="text-center">Cohort Overview</h1>
    <div th:replace="fragments/buttons :: new(@{/cohort/new})"></div>
    <div th:each="cohort : ${allCohorts}">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" th:text="${cohort.cohortName}"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Programme: &nbsp&nbsp&nbsp&nbsp
                        <span
                            th:text="${cohort.programme} ?
                            ${cohort.programme.programmeName} : 'None'">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Starting date: &nbsp&nbsp&nbsp<span th:text="${cohort.displayStartDate()}"></span></td>
                </tr>
                <tr>
                    <td>Ending date: &nbsp&nbsp&nbsp&nbsp<span th:text="${cohort.displayEndDate()}"></span></td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <th>Students:</th>
                </tr>
                <tr th:each="student : ${cohort.students}">
                    <td th:text="${student.studentName}"></td>
                </tr>
                <tr>
                    <th scope="col">Actions:</th>
                </tr>
                <tr>
                    <td>
                        <div th:replace="fragments/buttons
                        :: edit(@{/cohort/edit/{cohortId}(cohortId=${cohort.cohortId})})"></div>
                        <div th:replace="fragments/buttons
                        :: delete(@{/cohort/delete/{cohortId}(cohortId=${cohort.cohortId})})"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<div th:replace="fragments/general :: activeScriptCohorts"></div>
</body>
</html>