<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>Create or edit cohort</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container  main-content">
    <h1 class="text-center">Create or edit a Cohort</h1>

    <form th:action="@{/cohort/new}" method="post" th:object="${cohort}">
        <input type="hidden" th:field="*{cohortId}">
        <div class="mb-3">
            <label for="programmeSelect">Programme:</label>
            <select id="programmeSelect" class="form-select" th:field="*{programme}">
                <option th:value="null">None</option>
                <option th:each="programme : ${allProgrammes}"
                        th:value="${programme.programmeId}"
                        th:text="${programme.programmeName}">
                </option>
            </select>
        </div>
        <div class="row">
            <div class="mb-3 col">
                <label for="startDate">Starting date:</label>
                <input type="date" th:field="*{startDate}"
                       class="form-control" id="startDate" placeholder="Starting date"
                       onchange="document.getElementById('endDate').min = document.getElementById('startDate').value;">
                <script th:inline="javascript">
                    document.getElementById('startDate').max = [[${cohort.endDate}]];
                </script>
            </div>
            <div class="mb-3 col">
                <label for="endDate">Ending date:</label>
                <input type="date" th:field="*{endDate}"
                       class="form-control" id="endDate" placeholder="Ending date"
                       onchange="document.getElementById('startDate').max = document.getElementById('endDate').value;">
                <script th:inline="javascript">
                    document.getElementById('endDate').min = [[${cohort.startDate}]];
                </script>
            </div>
        </div>
        <div class="mb-3">
            <label for="studentSelect" class="form-label">Students:</label>
            <select id="studentSelect" class="form-select multiple-select" th:field="*{students}" multiple>
                <option th:value="null" th:text="None"></option>
                <option th:each="student : ${allStudents}"
                        th:value="${student.userId}"
                        th:text="${student.displayNameAndId()}">
                </option>
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <div th:replace="fragments/buttons :: cancel"></div>
            <div th:replace="fragments/buttons :: save"></div>
        </div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<div th:replace="fragments/general :: activeLink('#cohorts')"></div>
</body>
</html>