<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>New Subject</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content">
    <h1 class="text-center">Create or edit a subject</h1>

    <form th:action="@{/subject/new}" method="post" th:object="${subject}">
        <input type="hidden" th:field="*{subjectId}">
        <div class="mb-3">
            <label for="subjectName">Subject name:</label>
            <input id="subjectName" class="form-control" type="text" th:field="*{subjectName}">
        </div>
        <div class="mb-3">
            <label for="durationName">Duration (weeks):</label>
            <input id="durationName" class="form-control" type="text" th:field="*{durationWeeks}">
        </div>
        <div class="mb-3">
            <label for="teachers">Teachers:</label>
            <select id="teachers" class="form-select multiple-select" th:field="*{teachers}" multiple>
                <option th:each="teacher : ${allTeachers}"
                        th:value="${teacher.userId}"
                        th:text="${teacher.fullName}">
                </option>
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <div th:replace="fragments/buttons :: cancel"></div>
            <div th:replace="fragments/buttons :: save"></div>
        </div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<div th:replace="fragments/general :: activeLink('#subjects')"></div>
</body>
</html>