<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>programmeDetails</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content">
    <div class="row mt-3 mb-5">
        <div class="card text-bg-dark">
            <img th:src="${programme.image} ? ${programme.image.imagePath} : '/photos/default_program.webp'" class="card-img details-img">
            <div class="card-img-overlay text-center bg-with-opacity">
                <h1 class="card-title" th:text="${programme.programmeName}"></h1>
                <p class="card-text" th:text="${programme.shortDescription}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small>There are <span th:text="${programme.subjects.size()}"></span> subjects in this programme</small></p>
            </div>
        </div>
    </div>
    <table class="table">
        <h3>Contains the following subjects:</h3>
        <thead>
        <tr>
            <th scope="col">Subject Name</th>
            <th scope="col" class="text-end" sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${programme.subjects}">
            <td th:text="${subject.subjectName}"></td>
            <td class="text-end" sec:authorize="hasAnyAuthority('ADMIN')">
                <div th:replace="fragments/buttons :: edit(@{/subject/edit/{subjectId}(subjectId=${subject.subjectId})})"></div>
                <div th:replace="fragments/buttons :: delete(@{/subject/delete/{subjectId}(subjectId=${subject.subjectId})})"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>