<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>Create or edit teacher</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content">
    <h1 class="text-center">Create or edit teacher</h1>

    <form th:action="@{/teacher}" method="post" th:object="${teacher}">
        <input type="hidden" th:field="*{teacherId}">
        <div class="form-group">
            <label for="teacherName">Teacher Name:</label>
            <input th:field="*{teacherName}" type="text" class="form-control" id="teacherName" aria-describedby="teacher name" placeholder="example: John Doe">
        </div>
        <div th:replace="fragments/buttons :: save"></div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>