<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buttons</title>
</head>
<body>

<!-- New button fragment-->
<div th:fragment="new(link)" class="d-flex mb-3 justify-content-end"
     sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
    <a type="button" class="btn btn-outline-success"
       th:href="${link}"
    >
        New +
    </a>
</div>

<!-- Edit button fragment-->
<span th:fragment="edit(link)">
    <a type="button" class="btn btn-outline-success"
       th:href="${link}"
       sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')"
    >
        <span th:replace="fragments/icons :: editIcon"></span>
    </a>
</span>

<!-- Delete button fragment-->
<span th:fragment="delete(link)">
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
            th:attr="data-bs-target='#delete-modal' + ${#strings.replace(link, '/', '')}"
            sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')"
    >
        <span th:replace="fragments/icons :: deleteIcon"></span>
    </button>
    <span th:replace="fragments/modals :: deleteModal(${link})"></span>
</span>

<!-- Save button fragment -->
<div th:fragment="save" class="text-end mt-3" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
    <button type="submit" class="btn btn-primary">
        <span th:replace="fragments/icons :: saveIcon"></span>
        Save
    </button>
</div>

<!-- Cancel button fragment -->
<div th:fragment="cancel" class="text-end mt-3" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
    <button type="submit" name="cancel" class="btn btn-primary">
        Cancel
    </button>
</div>

<!-- Home button fragment -->
<div th:fragment="home">
    <a type="button" class="mx-3" th:href="@{/home}">
        <span th:replace="fragments/icons :: homeIcon"></span>
    </a>
</div>
</body>
</html>