<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div th:fragment="navbar" class="mt-3">
    <div class="nav nav-tabs justify-content-center mt-3">
        <div class="nav-item">
            <a class="nav-link active" id="home" th:replace="fragments/buttons :: home"></a>
        </div>
        <div class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER', 'STUDENT')">
            <a class="nav-link" id="subjects" th:href="@{/subject/all}">Subjects</a>
        </div>
        <div class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">
            <a class="nav-link" id="cohorts" th:href="@{/cohort/all}">Cohorts</a>
        </div>
        <div class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" id="teachers" th:href="@{/teacher/all}">Teachers</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" id="students" th:href="@{/student/all}"
               sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER', 'STUDENT')">Students</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" id="tests" th:href="@{/test/all}"
               sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')">Tests</a>
            <a class="nav-link" id="testAttempts" th:href="@{/testAttempt/all}"
               sec:authorize="hasAuthority('STUDENT')">Tests</a>
        </div>
        <div class="nav-item">
            <a class="nav-link"></a>
        </div>
        <div class="nav-item">
            <a class="nav-link disabled" sec:authorize="isAuthenticated()">Hi, <span th:text="${#authentication.name}"></span></a>
        </div>
        <div class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" data-bs-toggle="modal" role="button" data-bs-target="#logout-modal">Logout</a>
        </div>
        <div class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </div>
    </div>
    <div th:replace="fragments/modals :: logout"></div>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright Cerberus &copy;2023</p></footer>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</div>

<!-- active navbar link -->
<div th:fragment="activeLink(linkId)">
    <script th:inline="javascript">
        $(document).ready(function () {
            $(".active").removeClass("active");
            $([[${linkId}]]).addClass("active");
        });
    </script>
</div>

<!-- CSS and Scripts needed for richText -->
<th:block th:fragment="richText">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/richText/richtext.min.css}">
    <script th:src="@{/richText/jquery.richtext.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('.richTextContent').richText();
        })
    </script>
</th:block>
</body>
</html>