.main-content {
    /* to push the footer to the bottom of the page */
    min-height: calc(100vh - 100px);
    padding-top: 50px;
    padding-bottom: 50px;
}

.multiple-select {
    overflow: hidden;
}

.programme-card {
    height: 100%;
}

.programme-img {
    max-height: 270px;
    object-fit: cover;
}

.details-img {
    max-height: 370px;
    object-fit: cover;
}

.bg-with-opacity {
    background-color: rgba(0, 0, 0, 0.3);
}

.small-form {
    max-width: 600px;
    margin: 25px auto;
}

.table-hover>tbody>tr>td.no-hover {
    box-shadow:none;
}